@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  --font-poppins: var(--font-poppins), sans-serif;
  --color-brand: #BB2282;
  --color-gold: #bd9d7b;
  --color-ink: #706b69;
  --default-text-color: #706b69;
}

@theme inline {
  --font-inter: var(--font-inter);
}

@utility container-wide {
  max-width: 1300px;
  margin-inline: auto;
  /* padding : 0 20px;  */
}

@utility underline-gold {
  background-image: linear-gradient(to right, var(--color-gold), var(--color-gold));
  background-repeat: no-repeat;
  background-size: 15% 1px;
  background-position: left bottom;
  padding-bottom: 0.45rem;
}

